body {
    margin: 0;
    padding:0;
    background-color: #1F2937;
    /* background-color: #0b2344c1; */
}
.container{
    padding:0px 20px; 
    margin:30px auto;
    width:70%;
    height: 60%t;
    background-color: #0b2344c1;
    border: 2px outset #0b2344c1;
    border-radius:5px;
}
.text h1{

font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 35px;
}

.passLength{
    color:white;
    font-size: 20px;
}
.symbols, .numbers{
    padding:10px 0px;
    font-size: 20px;
    color:white;
}

#pass-btn{
    background-color:#10B981;
    border:none;
    border-radius: 5px;
    padding:10px;
    color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border:2px outset #1F2937;
}
.password{
    color:#10B981;
}
.copyClipboard{
    margin:10px 0px;
    color:white;
    font-size: 16px;
}
#pass1, #pass2{
    margin:15px 5px 1px 5px;
    background: #273549;
   display:none;
    padding:5px 10px;
    border-radius:5px;
    
    
}
#num{
    margin-left:5px;
    font-size:18px;
    border:none;
    border-radius:5px;
}
#text1{
    color:#ffffff;
    
}
#text2{
   color: #4ADF86;
}
.text p{
    color:white;
    font-size: 20px;
}

@media screen and (max-width:1000px){
    
    .container{
        width:80%;
        height: 90vh;
        padding:0px 20px; 
        margin:30px auto;
        overflow: scroll;
        background-color: #0b2344c1;
        border: 2px outset #0b2344c1;
        border-radius:5px;
    }
    .text h1{

        
        font-size: 3.5rem;
        line-height: 3rem;
        }
        .passLength, .symbols, .numbers, #pass-btn, .text p{
            font-size: 1.5rem;
        }
        #num, #pass1, #pass2,.copyClipboard{
            font-size:1rem;
        }
        
        
}